div.form-group 
	label.col-lg-2.control-label Question
		p.showHideEditor Show Rich Editor
			input(type="checkbox",data-ng-model="quizObj.questionObj.questionIsRich") 
	div.col-lg-10(ng-if="!quizObj.questionObj.questionIsRich")
		textarea.form-control(name="question",data-ng-model="quizObj.questionObj.question")
	div.col-lg-10(ng-if="quizObj.questionObj.questionIsRich")
		textarea.form-control(ck-editor=100,name="question",data-ng-model="quizObj.questionObj.question")
		
div.form-group(ng-repeat="optionObj in quizObj.questionObj.options")
	label.col-lg-2.control-label Option {{$index+1}}
		p.showHideEditor Show Rich Editor 
			input(type="checkbox",data-ng-model="optionObj.optionIsRich") 
	div.col-lg-8(ng-show="!optionObj.optionIsRich")
		textarea.form-control(name="option{{$index+1}}",rows="1",data-ng-model="optionObj.option")
	div.col-lg-8(ng-show="optionObj.optionIsRich")
		textarea.form-control(name="option{{$index+1}}",rows="1",data-ng-model="optionObj.option",ck-editor=100)	
	div.col-lg-2
		label Answer 
			input(type="checkbox" name="answer" value="option{{$index+1}}" data-ng-model="optionObj.answer") 
		div(ng-if="$index>1")
			a(ng-click="deleteAdditionalOption($index)")
				img.img-circle(src="/img/delete.png",title="delete")
									
div.form-group(ng-if="quizObj.questionObj.options.length<5")
	div.col-sm-offset-2.col-sm-10
		button.btn.btn-link.marginRight10(type="submit",ng-click="addAdditionalOption()") Add Option	
		
div.form-group
	label.col-lg-2.control-label Answer Description
		p.showHideEditor Show Rich Editor 
			input(type="checkbox",data-ng-model="quizObj.questionObj.answerDescrIsRich") 
	div.col-lg-10(ng-show="!quizObj.questionObj.answerDescrIsRich")
		textarea.form-control(name="answerDescr",data-ng-model="quizObj.questionObj.answerDescr",rows="2")
	div.col-lg-10(ng-show="quizObj.questionObj.answerDescrIsRich")
		textarea.form-control(ck-editor=200,name="answerDescr",data-ng-model="quizObj.questionObj.answerDescr")			
		
div.form-group
	label.col-lg-2.control-label Difficulty Level 
	div.col-lg-10
		select.form-control(name="difficultyLevel",data-ng-model="quizObj.questionObj.difficultyLevel")
			option(value="0") Easy
			option(value="1") Medium
			option(value="2") Hard