div.form-group
	label.col-lg-2.control-label Question
		p.showHideEditor Show Rich Editor 
			input(id="question_",type="checkbox",onchange="hideShowRichEditor(this,100)") 
	div.col-lg-10
		textarea.form-control#question(id="question",name="question")
div.form-group
	div.col-sm-offset-2.col-sm-1(style="background-color:green;")
		p 
			b True
	div.col-lg-2
		label Answer 
			input(type="radio" name="answer" value="option1") 
div.form-group
	div.col-sm-offset-2.col-sm-1(style="background-color:red;")
		p
			b False
	div.col-lg-2
		label Answer 
			input(type="radio" name="answer" value="option2")
div.form-group
	label.col-lg-2.control-label Answer Description
		p.showHideEditor Show Rich Editor 
			input(id="answerDescr_",type="checkbox",onchange="hideShowRichEditor(this,100)") 
	div.col-lg-10
		textarea.form-control#answerDescr(name="answerDescr")
div.form-group
	label.col-lg-2.control-label Difficulty Level 
	div.col-lg-10
		select.form-control(ng-model="questionObj.difficultyLevel")
			option(value="0") Easy
			option(value="1") Medium
			option(value="2") Hard	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		