body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	cursor: pointer;	
	text-decoration: none!important;
}

.colorWhite {
	color: white!important;
}

.marginTop10 {
	margin-top: 10px;
}

.marginRight10 {
	margin-right: 10px;
}

.margin5 {
	margin: 5px;
}

label.error {
	color: red;
	margin-top: 2px;
}

.horizontalLine {
	border-top: 1px solid #CCCCCC;
}

.showHideEditor {
	font-size: xx-small;
}

.thumbnailStyle {
	text-align: center;
}

.thumbnailStyle:hover {
	border: 1px solid #2A6496;
}