doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/javascript/frameworks/bootstrap/css/bootstrap.min.css')
		script(src="/javascript/frameworks/jquery/jquery-1.10.2.min.js")
		script(src="/javascript/frameworks/bootstrap/js/bootstrap.min.js")
		script(src="/javascript/quiz/common.js")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block head
	body
		include menu
		div.container
			block content