extends layout
block head
	title Login
block content
	div.row.marginTop10
		div.col-sm-6.col-md-3
			a.thumbnail(href="/auth/google")
				img(src="/img/google.png",alt="Login with Google")
				div(align="center")
					b Log in with Google		
					
