div.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.active.colorWhite(href="/") Home
		div.collapse.navbar-collapse	
			ul.nav.navbar-nav
				li
					a.colorWhite(href="/user/myprofile") My Profile
			ul.nav.navbar-nav.navbar-right
				if isAuthenticated
					li
						a.dropdown-toggle.colorWhite(href="#",data-toggle="dropdown") #{displayName}
							b.caret(style="color:white!important;")
						ul.dropdown-menu
							li
								a(href="/logout") Log Out	
				else 
					li
						a.colorWhite(href="/login") Log In